
.mainContainer
{
    background-color: white;
    width: auto;
}


.headerContainer 
{
    background-color:darkslategray;
    box-shadow:0 4px 10px 0 rgba(0,0,0,0.2),0 4px 20px 0 rgba(0,0,0,0.19);
    margin-top: 15px 0; 
    
}


.contentContainer
{
    background-color: white;
    margin: 15px 0 ;    
    box-sizing: border-box;
    //justify-content: space-between;
    //box-shadow:0 4px 10px 0 rgba(0,0,0,0.2),0 4px 20px 0 rgba(0,0,0,0.19);
    //overflow:scroll;
}

@media(min-width: 900px){
    
    .contentContainer{
    
    display: flex;    
    align-items: stretch;
    
    }
    
     .leftContentContainer{
        margin-right:5px;        
    }
    .middleContentContainer{
        margin-right: 5px;
    }
}


.leftContentContainer
{
    background-color: white;
    flex: 1;    
    //flex-basis: 12%;
    order: 1;
    padding-left: 0px;
    box-sizing: border-box;   
    

    box-shadow:0 4px 10px 0 rgba(0,0,0,0.2),0 4px 20px 0 rgba(0,0,0,0.19);
    
}

.leftContentContainer ul{
    margin:0;
    padding: 0;
    box-shadow:0 4px 10px 0 rgba(0,0,0,0.2),0 4px 20px 0 rgba(0,0,0,0.19);
}
.leftContentContainer ul li{
        
    text-align:left;
    padding: 5px 5px;
    list-style-type:none;
   
    background-color:#f1f1f1;
    overflow:auto
}
.leftContentContainer ul li:hover{
    background-color: lightgray;
}
.leftContentContainer ul li a{
    text-decoration: none;
}

.middleContentContainer
{
    background-color: white;
     flex: 6; 
    //flex-basis: 74%;
    order: 2;
    padding-left: 5px;   
    box-sizing: border-box;
    box-shadow:0 4px 10px 0 rgba(0,0,0,0.2),0 4px 20px 0 rgba(0,0,0,0.19);
}

.rightContentContainer
{
    
    background-color: white;
     flex: 1;
    //flex-basis: 12%;
    order: 3;
    box-sizing: border-box;     
    padding-left: 10px;
    box-shadow:0 4px 10px 0 rgba(0,0,0,0.2),0 4px 20px 0 rgba(0,0,0,0.19);
}



.footerContainer
{
    
    background-color: darkslategray;
    box-shadow:0 4px 10px 0 rgba(0,0,0,0.2),0 4px 20px 0 rgba(0,0,0,0.19);
}


table, th, td{
    align-content: center;
    border: 1px solid black;
}
.xmlCode{
    margin-left: 5px;
    border-left: 4px solid #ADFF2F;   
    border-right : 1px solid #ADFF2F;
    border-bottom : 1px solid #ADFF2F;
    border-top : 1px solid #ADFF2F;
    font-size: 15px;
    font-family: "monospace","courier new";
    color: blue;
    white-space: pre;
    line-height: 1.5;
}

.javaCode{
    margin-left: 5px;
    border-left: 4px solid #ADFF2F;
    border-right : 1px solid #ADFF2F;
    border-bottom : 1px solid #ADFF2F;
    border-top : 1px solid #ADFF2F;
    font-size: 15px;
    font-family: "monospace","courier new";
    color: blue;
    white-space: pre;   
    padding-left: 8px;
    line-height: 1.5;    	
}

.imageDiv{
    border: 1px solid black;
}

#indexMenu{
    background-color: powderblue;
}
in
body{
    font-size: 14px;
    font-family: serif;
}


#indexMenu li{
display: inline;
margin: 20px;
 
}


h1{
   text-align: left;
   padding-left: 8px;        
   color: black!important;
   background-color: #78C1E5;
    
}

h2 h3 h4 h5 h6{
text-align: left;
background-color: #ACFD;
}



body {
font-family: Arial;

}


